{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-5">
                    <div class="text-center">
                        <h2 class="h4 text-gray-900 mb-4">Reset Password</h2>
                        <p>Please enter your email address to receive a password reset link.</p>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="email" name="email" placeholder="Insert your Email" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{% url 'login' %}">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}